/* Шрифты */

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroyextrabold.woff2") format("woff2"), url("/fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroylight.woff2") format("woff2"), url("/fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

/* Глобальные стили */

body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;

  background-color: #ffffff;
}

body.index-catalog {
  color: #000000;
}

a {
  text-decoration: none;
}

.button {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 18;
  line-height: 24px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #000000;

  background-color: transparent;

  border: none;

  outline: 0;
}

.button:hover,
.button:focus {
  background-color: #f0c52e;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.list {
  list-style: none;
}

/* Логотип в хедере */

.main-header img:hover,
.main-header img:focus {
  opacity: 0.6;
}

.main-header img:active {
  opacity: 0.3;
}

/* Форма поиска */

.main-header input {
  background-color: transparent;

  border: none;
}


.main-header input:focus {
  outline: 0;
}

.main-header input::-webkit-input-placeholder { /* Chrome */
  color: #000000;
  opacity: 0.3;
}
.main-header input:-ms-input-placeholder { /* IE 10+ */
  color: #000000;
  opacity: 0.3;
}
.main-header input::-moz-placeholder { /* Firefox 19+ */
  color: #000000;
  opacity: 0.3;
}
.main-header input:-moz-placeholder { /* Firefox 4 - 18 */
  color: #000000;
  opacity: 0.3;
}

.main-header input:hover::-webkit-input-placeholder { /* Chrome */
  color: #000000;
  opacity: 0.6;
}
.main-header input:hover:-ms-input-placeholder { /* IE 10+ */
  color: #000000;
  opacity: 0.6;
}
.main-header input:hover::-moz-placeholder { /* Firefox 19+ */
  color: #000000;
  opacity: 0.6;
}
.main-header input:hover:-moz-placeholder { /* Firefox 4 - 18 */
  color: #000000;
  opacity: 0.6;
}

.main-header input:focus::-webkit-input-placeholder { /* Chrome */
  color: #000000;
  opacity: 1;
  outline:0
}
.main-header input:focus:-ms-input-placeholder { /* IE 10+ */
  color: #000000;
  opacity: 1;
}
.main-header input:focus::-moz-placeholder { /* Firefox 19+ */
  color: #000000;
  opacity: 1;
}
.main-header input:focus:-moz-placeholder { /* Firefox 4 - 18 */
  color: #000000;
  opacity: 1;
}

.main-header button {
  font: inherit;

  border: 2px solid #000000;

  background-color: transparent;
  outline: 0;

}

.main-header button:hover {
  font: inherit;
  color: #ffffff;

  border: 2px solid #000000;

  background-color: #000000;
}

.main-header button:active {
  font: inherit;
  color: rgba(255, 255, 255, 0.3);

  border: 2px solid #000000;

  background-color: #000000;
}

/* Хедер*/

.main-header {
  background-color: #f7e296;
}

.main-navigation a {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #000000;

  outline: 0;
}

.add-navigation a,
.user-block a {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  letter-spacing: normal;
  color: #464646;
  text-transform: none;

  outline: 0;
}

.user-block a {
  line-height: 36px;
}

.main-header a:hover,
.main-header a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.main-header a:active {
  color: rgba(0, 0, 0, 0.3);
}

/* Слайдер */

.slider-title {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 56px;
  color: #000000;
}

.slider-table tr:first-child {
  font-size: 36px;
  line-height: 48px;
}

.slider-table tr:last-child {
  font-size: 13px;
  line-height: 20px;
}

/* Ссылки на каталог */

.directory-list img {
  background-color: rgba(240, 197, 46, 0.5)
}

.directory-list img:hover {
  background-color: #f0c52e;
}

.directory-list a {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 18;
  line-height: 24px;
  color: #000000;

  outline: 0;
}

.directory-list a:focus img{
  background-color: #f0c52e;
}


.directory-list a:active {
  color: rgba(0, 0, 0, 0.3);
  
  opacity: 0.3;
}

/* Блок услуг */

.service-buttons button {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 5px;
  text-transform: uppercase;

  background-color: transparent;

  border: none;

  outline: 0;
}

.service-buttons button:hover,
.service-buttons button:focus {
  background-color: #f0c52e
}

.service-buttons button:active {
  color: #f7e184;

  background-color: #000000;
}

.service-popup h3 {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  color: #000000;
}

/* Логотипы партнеров */

.partners a {
  opacity: 0.2;
}

.partners a:hover,
.partners a:focus {
  opacity: 1;
}

/* О нас и Контакты */

.about-us h2,
.info-block h2 {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  color: #000000;
}

.about-us li {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  color: #000000;
}

/* Футер */

.footer {
  color: #ffffff;

  background-color: #565656;
}

.footer a {
  color: inherit;

  outline: 0;
}

/* Футер верхний блок*/

/* Логотип в футере

object в HTML - отключен цвет SVG не меняется :( 

.footer-top .logo {
  width: 163px;
  height: 35px;
  background-image: url(logo.png);

  fill: #f0c52e;
}

.footer-top .logo:hover,
.footer-top .logo:focus {
  opacity: 0.6;
}

.footer-top .logo:active {
  opacity: 0.3;
}
*/

.footer-top img:hover,
.footer-top img:focus {
  opacity: 0.6;
}

.footer-top img:active {
  opacity: 0.3;
}

.footer-user-block a {
  color: rgba(255, 255, 255, 0.7);
}

.footer-user-block a:hover,
.footer-user-block a:focus {
  color:inherit;
}

.footer-user-block a:active {
  color: rgba(255, 255, 255, 0.3);
}

/* Футер средний блок*/

.footer-navigation a {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 18;
  line-height: 24px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-navigation a:hover,
.footer-navigation a:focus {
  opacity: 0.6;
}

.footer-navigation a:active {
  opacity: 0.3;
}

/* Футер нижний блок*/

.footer-social a {
  opacity: 0.3;
}

.footer-social a:hover,
.footer-social a:focus {
  opacity: 0.6;
}

.footer-social a:active {
  opacity: 0.1;
}

.footer-bottom > a:hover,
.footer-bottom > a:focus {
  opacity: 0.6;
}

.footer-bottom > a:active {
  opacity: 0.3;
}

/* PopUp Напишите нам  */

.write-us-form {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 18;
  line-height: 24px;
  color: #000000;
}

.write-us-form input,
.write-us-form textarea {
  font-size: 14px;
  line-height: 18px;

  background-color: #f2f2f2;

  border: none;

  outline: 0;
}

.write-us-form input::-webkit-input-placeholder,
.write-us-form textarea::-webkit-input-placeholder { /* Chrome */
  opacity: 0.4;
}
.write-us-form input:-ms-input-placeholder,
.write-us-form textarea:-ms-input-placeholder { /* IE 10+ */
  opacity: 0.4;
}
.write-us-form input::-moz-placeholder,
.write-us-form textarea::-moz-placeholder { /* Firefox 19+ */
  opacity: 0.4;
}
.write-us-form input:-moz-placeholder,
.write-us-form textarea:-moz-placeholder { /* Firefox 4 - 18 */
  opacity: 0.4;
}

.write-us-form input:hover,
.write-us-form textarea:hover {
  background-color: #eaeaea;
}

.write-us-form input:focus,
.write-us-form textarea:focus {
  background-color: transparent;

  border: 2px solid #f7e296;
}

.write-us-form input:invalid {
  background-color: rgba(237, 181, 181, 0.5)
}

.write-us-form button {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 18;
  line-height: 24px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #000000;

  background-color: transparent;

  border: none;
  
  outline: 0;
}

.form-submission a:hover,
.form-submission a:focus {
  background-color: #f0c52e;

}

.form-submission a:active {
  color: rgba(0, 0, 0, 0.3);
}

/* Страница каталога*/

.main-title {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  color: #000000;  
}

.breadcrumbs a,
.breadcrumbs {
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);  
}

.breadcrumbs a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

/* Блок сортировки*/

.sort h2 {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 16;
  line-height: 24px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #000000;
}

.sort-list a {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.sort-list a:hover,
.sort-list a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sort-list a:active {
  color: #000000;
}

/* Фильтр */

.filter-form h2 {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 16;
  line-height: 24px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #000000;
}

.fieldset-header {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 16;
  line-height: 24px;
  color: #000000;
}

.filter-form input:disabled {
  color: #a6a6a6;
}

/* Каталог товаров*/

.products-list a {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 18;
  line-height: 24px;
  color: #000000;

  outline: 0;
}

.products-list span {
  font-size: 18;
  line-height: 24px;
  color: #464646;
}

.compare {
  font-size: 13;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);

  background-color: transparent;

  border: none;

  outline: 0;
}

.compare:hover,
.compare:focus {
  color: #000000;
}

.compare:active {
  color: rgba(0, 0, 0, 0.2);
}


/* Пагинация*/

.pagination{
  background-color: #ebebeb;
}

.pagination li,
.pagination li a {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 16;
  line-height: 24px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);

  outline: 0;
}

.pagination li a:hover,
.pagination li a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.pagination li a:active {
  color: #000000;
}

.pagination .forward,
.pagination .back {
  color: #000000;
}

.pagination .forward:hover,
.pagination .forward:focus,
.pagination .back:hover,
.pagination .back:focus {
  color: #000000;

  background-color: #d9d9d9;
  
}


.pagination .forward:active,
.pagination .back:active {
  color: rgba(0, 0, 0, 0.3);
}