/* Шрифты */

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/opensans.woff2") format("woff2"),
  url("/fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/opensanslight.woff2") format("woff2"),
  url("/fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroyextrabold.woff2") format("woff2"),
  url("/fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroylight.woff2") format("woff2"),
  url("/fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

/* Глобальные стили */

body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.14px;
  color: #464646;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.button {
  display: border-box;
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 3.7px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;

  padding: 0;
  margin: 0;

  background-color: transparent;
  border: none;
  outline: 0;
}

.button:hover,
.button:focus {
  background-color: #f0c52e;background-image: linear-gradient(to bottom, #ffffff 8px, #f0c52e 8px, #f0c52e 16px, #ffffff 16px);
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
}

.list {
  list-style: none;
  padding: 0;
}

/* Хедер */

.main-header {
  display: flex;
  justify-content: center;
}

/* Логотип в хедере */

.main-header-wrapper .logo {
  margin-right: auto;
}

.logo:hover,
.logo:focus {
  opacity: 0.6;
  outline: 0;
}

.logo:active {
  opacity: 0.3;
}

/* Форма поиска */

.main-header-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;

  width: 1045px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 35px;
  padding-top: 21px;
  padding-left: 58px;
  padding-right: 55px;

  background-image: linear-gradient(to bottom, #ffffff 40px, #f7e296 40px);
}

.search-user-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.search-form {

  /* Временно */
  padding-left: 40px;

  background-color: transparent;
  border: none;
  outline: 0;
}

.search-form::-webkit-input-placeholder {
  color: #000000;

  opacity: 0.3;
}

.search-form:-ms-input-placeholder {
  color: #000000;

  opacity: 0.3;
}

.search-form::-moz-placeholder {
  color: #000000;

  opacity: 0.3;
}

.search-form:-moz-placeholder {
  color: #000000;

  opacity: 0.3;
}

.search-form:hover::-webkit-input-placeholder {
  color: #000000;

  opacity: 0.6;
}

.search-form:hover:-ms-input-placeholder {
  color: #000000;

  opacity: 0.6;
}

.search-form:hover::-moz-placeholder {
  color: #000000;

  opacity: 0.6;
}

.search-form:hover:-moz-placeholder {
  color: #000000;

  opacity: 0.6;
}

.search-form:focus::-webkit-input-placeholder {
  color: #000000;

  opacity: 1;
}

.search-form:focus:-ms-input-placeholder {
  color: #000000;

  opacity: 1;
}

.search-form:focus::-moz-placeholder {
  color: #000000;

  opacity: 1;
}

.search-form:focus:-moz-placeholder {
  color: #000000;

  opacity: 1;
}

.search-button {
  border: 2px solid #000000;
  background-color: transparent;
  outline: none;
}

.search-button:focus,
.search-button:hover {
  color: #ffffff;

  background-color: #000000;
  outline: none;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #000000;
}

/* Навигация */

.header-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  margin-top: 18px;
  padding: 0;
}

.header-navigation > li:first-child {
  margin-right: auto;
}

.header-navigation > li:not(:first-child) {
  margin-left: 34px;
}

.header-navigation > li:last-child {
  margin-left: 108px;
  margin-right: 1px;
}

.main-navigation a {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 3.6px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;

  outline: 0;
}

.add-navigation a,
.user-block a {
  font-weight: 300;
  letter-spacing: normal;
  color: #464646;
  text-transform: none;

  outline: 0;
}

.user-block {
  display: flex;
  flex-wrap: wrap;

  width: 474px;
  padding-left: 44px;
  margin-right: 4px;
}

.user-block a {
  line-height: 36px;
}

.user-block li:not(:first-child) {
  margin-left: 35px;

  /*Временно*/
  padding-left: 30px;
}

.user-block li.login-link {
  margin-left: 0;
  margin-right: auto;
}

.main-header a:hover,
.main-header a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.main-header a:active {
  color: rgba(0, 0, 0, 0.3);
}

/* Main */

.main-wrapper {
  display: flex;
  justify-content: center;
}

/* Слайдер */

.slider-title {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 56px;
  color: #000000;
}

.slider-table tr:first-child {
  font-size: 36px;
  line-height: 48px;
}

.slider-table tr:last-child {
  font-size: 13px;
  line-height: 20px;
}

/* Ссылки на каталог */

.directory-list img {
  background-color: rgba(240, 197, 46, 0.5)
}

.directory-list img:hover {
  background-color: #f0c52e;
}

.directory-list a {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 18;
  line-height: 24px;
  color: #000000;

  outline: 0;
}

.directory-list a:focus img {
  background-color: #f0c52e;
}


.directory-list a:active {
  color: rgba(0, 0, 0, 0.3);
  
  opacity: 0.3;
}

/* Блок услуг */

.service-buttons button {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 5px;
  text-transform: uppercase;

  background-color: transparent;
  border: none;
  outline: 0;
}

.service-buttons button:hover,
.service-buttons button:focus {
  background-color: #f0c52e
}

.service-buttons button:active {
  color: #f7e184;

  background-color: #000000;
}

.service-popup h3 {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  color: #000000;
}

/* Логотипы партнеров */

.partners a {
  opacity: 0.2;
}

.partners a:hover,
.partners a:focus {
  opacity: 1;
}

/* О нас и Контакты */

.about-contacts-wrapper {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  width: 1160px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 87px;

  /* Временно */
  padding-top: 71px;
}

.about-us,
.contacts {
  width: 460px;
}

.contacts {
  width: 561px;
}

.contacts-map {
  margin-top: 24px;
}

.about-us h2,
.contacts h2 {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0;
  color: #000000;

  margin-bottom: 43px;
}



.about-us p,
.contacts p {
  margin-bottom: 30px;
  letter-spacing: -0.2px;
}

.about-us li {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.2px;
  color: #000000;
  
  padding-left: 35px;
}

.about-us ul {
  padding-top: 36px;
  margin-bottom: 59px;
}

.contacts-map img {
  padding-top: 9px;
  margin-bottom: 65px;
}

.about-us .button {
  padding-left: 22px;
  padding-right: 20px;
}

.contacts .button {
  padding-left: 41px;
  padding-right: 39px;

}

/* Футер */

.footer {
  display: flex;
  justify-content: center;

  color: #ffffff;

  background-color: #565656;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  width: 1160px;
  padding-left: 20px;
  padding-right: 20px;
}

.footer a {
  color: inherit;

  outline: 0;
}

/* Футер верхний блок*/


.footer-top {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
}

.footer-top .logo {
  margin-top: 17px;

  fill: #ffc600;
}

.footer-top img:hover,
.footer-top img:focus {
  opacity: 0.6;
}

.footer-top img:active {
  opacity: 0.3;
}

.footer-user-block {
  display: flex;
  flex-wrap: wrap;
}

.footer-user-block li {
  text-align: right;
}

.footer-user-block li:not(:first-child) {
  margin-left: 35px;

  /*Временно*/
  padding-left: 30px;
}

.footer-user-block li.login-link {
  margin-left: 0;
  margin-right: auto;
}

.footer-user-block li:first-child {
  padding-right: 6px;
}

.footer-user-block a {
  color: rgba(255, 255, 255, 0.7);
}

.footer-user-block a:hover,
.footer-user-block a:focus {
  color:inherit;
}

.footer-user-block a:active {
  color: rgba(255, 255, 255, 0.3);
}

/* Футер средний блок*/

.footer-middle {
  letter-spacing: 0px;

  display: flex;
  margin-top: 6px;
}

.footer-navigation {
  display: flex;
  margin-top: 17px;
  margin-left: 162px;
  margin-right: auto;
}

.footer-navigation li:not(:first-child) {
  margin-left: 34px;
}

.footer-navigation a {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-navigation a:hover,
.footer-navigation a:focus {
  opacity: 0.6;
}

.footer-navigation a:active {
  opacity: 0.3;
}

.footer-phone {
  margin-top: 15px;
}

/* Футер нижний блок*/

.footer-bottom {
  display: flex;
  margin-top: 30px;
  margin-bottom: 56px;
}

.footer-social {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.footer-social a {
  opacity: 0.3;
}

.footer-social a:hover,
.footer-social a:focus {
  opacity: 0.6;
}

.footer-social a:active {
  opacity: 0.1;
}

.footer-bottom > a:hover,
.footer-bottom > a:focus {
  opacity: 0.6;
}

.footer-bottom > a:active {
  opacity: 0.3;
}

/* PopUp Напишите нам */

.write-us-form {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  line-height: 24px;
  color: #000000;
}

.write-us-form input,
.write-us-form textarea {
  font-size: 14px;
  line-height: 18px;

  background-color: #f2f2f2;
  border: none;
  outline: 0;
}

.write-us-form input::-webkit-input-placeholder,
.write-us-form textarea::-webkit-input-placeholder {
  opacity: 0.4;
}

.write-us-form input:-ms-input-placeholder,
.write-us-form textarea:-ms-input-placeholder {
  opacity: 0.4;
}

.write-us-form input::-moz-placeholder,
.write-us-form textarea::-moz-placeholder {
  opacity: 0.4;
}

.write-us-form input:-moz-placeholder,
.write-us-form textarea:-moz-placeholder {
  opacity: 0.4;
}

.write-us-form input:hover,
.write-us-form textarea:hover {
  background-color: #eaeaea;
}

.write-us-form input:focus,
.write-us-form textarea:focus {
  background-color: transparent;
  border: 2px solid #f7e296;
}

.write-us-form input:invalid {
  background-color: rgba(237, 181, 181, 0.5)
}

.write-us-form button {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 18;
  line-height: 24px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #000000;

  background-color: transparent;
  border: none;
  outline: 0;
}

.form-submission a:hover,
.form-submission a:focus {
  background-color: #f0c52e;
}

.form-submission a:active {
  color: rgba(0, 0, 0, 0.3);
}

/* catalog.html */

.breadcrumbs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  margin-bottom: 32px;
}

.container {
  display: flex;
  flex-direction: column;
  padding-left: 59px;
  margin-left: 10px;
  margin-right: 10px;
  width: 1101px;
}

.main-title {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.6px;
  color: #000000;

  padding-top: 2px;
  margin: 0;
}

.breadcrumbs {
  display: flex;
  margin-top: 24px;
}

.breadcrumbs a,
.breadcrumbs {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 0.3);

  outline: 0;
}

.breadcrumbs li {
  margin-right: 39px;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

/* Каталог */

.catalog-wrapper {
  display: flex;
  justify-content: center;
}

/* Фильтр */

.filter-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 5;
}

.filter-lable,
.catalog-wrapper h2 {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.7px;
  text-transform: uppercase;
  color: #000000;

  margin: 0;
}

.filter-lable {
  display: flex;
  background-color: #dbdbdb;
  justify-content: flex-end;


  padding-right: 67px;
}

.filter-lable p {
  width: 200px;
  padding-top: 23px;
  padding-bottom: 22px;
  margin: 0;
}


.form-wrapper {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  background-color: #efefef;

  padding-right: 68px;
}

.filter-form {
  width: 200px;
  margin-top: 82px;
}

.filter-form fieldset {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  color: #000000;
  border: none;

  margin: 0;
  padding: 0;
}

.filter-form fieldset {
  margin-bottom: 24px;
}


.filter-form .bluetooth {
  margin-bottom: 19px;
}

.filter-form li {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 40px;
  font-weight: 300;
  letter-spacing: 0.14px;
  color: #464646;
  
  padding-left: 23px;
}

.filter-form .cost {
  padding-bottom: 105px;
  margin-bottom: 11px;
}

.filter-form .button {
  padding-left: 3px;
  width: 100%;
}

.filter-form .button:hover,
.filter-form .button:focus {
  background-color: #f0c52e;
  background-image: linear-gradient(to bottom, #eeeeee 8px, #f0c52e 8px, #f0c52e 16px, #eeeeee 16px);
}

.filter-form input {
  outline: 0;
}

.filter-form input:disabled {
  color: #a6a6a6;
}

.filter-sort-products {
  display: flex;
}

.filter-sort-products .container {
  flex-direction: row;
}

/* Sort */

.catalog-container {
  display: flex;
  flex-direction: column;
  flex-grow: 4.3;
}

.sort-wrapper {
  padding-left: 74px;
  
  background-color: #ebebeb;
}

.sort {
  display: flex;
  align-items: baseline;
}

.sort-list {
  display: flex;
  flex-wrap: wrap;
  
  padding-top: 19px;
  padding-bottom: 20px;
  margin: 0;
  margin-left: 20px;
}

.sort-list a {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);

  outline: 0;
  margin-left: 30px;
}

.sort-list a:hover,
.sort-list a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sort-list a:active {
  color: #000000;
}

/* Каталог товаров*/

.products {
  display: flex;
  flex-direction: column;

  width: 760px;
  margin-top: 55px;
  margin-left: 74px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.products-list li {
  width: 360px;

  /* Временно */
  padding-bottom: 58px;
}

.products-list a {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 18;
  line-height: 24px;
  color: #000000;
  
  outline: 0;
}

.products-list span {
  font-size: 18;
  line-height: 24px;
  color: #464646;
}

.compare {
  font-size: 13px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);

  background-color: transparent;
  border: none;
  outline: 0;
}

.compare:hover,
.compare:focus {
  color: #000000;
}

.compare:active {
  color: rgba(0, 0, 0, 0.2);
}

/* Пагинация*/

.pagination {
  background-color: #ebebeb;

  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 80px;
}

.pagination a {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase; 

  outline: 0;

  display: block;
  padding-top: 23px;
  padding-bottom: 23px;
}

.pagination li:first-child {
  margin-right: auto;
}

.pagination li:last-child {
  margin-left: auto;
}

.pagination-button {
  padding-left: 25px;
  padding-right: 25px;
}

.pagination .pagination-button {
  color: #000000;
}

.pagination .pagination-button:hover,
.pagination .pagination-button:focus {
  background-color: #d9d9d9;
}

.pagination .pagination-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.page-number {
  color: rgba(0, 0, 0, 0.3);

  margin-left: 5px;
  margin-right: 5px;
}

.page-number:hover,
.page-number:focus {
  color: rgba(0, 0, 0, 0.6);
}

.page-number:active {
  color: #000000;
}