/* Шрифты */

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/opensans.woff2") format("woff2"),
  url("/fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/opensanslight.woff2") format("woff2"),
  url("/fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroyextrabold.woff2") format("woff2"),
  url("/fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroylight.woff2") format("woff2"),
  url("/fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

/* Глобальные стили */

body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.button {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 18;
  line-height: 24px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #000000;

  background-color: transparent;
  border: none;
  outline: 0;
}

.button:hover,
.button:focus {
  background-color: #f0c52e;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
}

.list {
  list-style: none;
}

/* Логотип в хедере */

.logo:hover,
.logo:focus {
  opacity: 0.6;
  outline: 0;
}

.logo:active {
  opacity: 0.3;
}

/* Форма поиска */

.search-form {
  background-color: transparent;
  border: none;
  outline: 0;
}

.search-form::-webkit-input-placeholder {
  color: #000000;

  opacity: 0.3;
}

.search-form:-ms-input-placeholder {
  color: #000000;

  opacity: 0.3;
}

.search-form::-moz-placeholder {
  color: #000000;

  opacity: 0.3;
}

.search-form:-moz-placeholder {
  color: #000000;

  opacity: 0.3;
}

.search-form:hover::-webkit-input-placeholder {
  color: #000000;

  opacity: 0.6;
}

.search-form:hover:-ms-input-placeholder {
  color: #000000;

  opacity: 0.6;
}

.search-form:hover::-moz-placeholder {
  color: #000000;

  opacity: 0.6;
}

.search-form:hover:-moz-placeholder {
  color: #000000;

  opacity: 0.6;
}

.search-form:focus::-webkit-input-placeholder {
  color: #000000;

  opacity: 1;
}

.search-form:focus:-ms-input-placeholder {
  color: #000000;

  opacity: 1;
}

.search-form:focus::-moz-placeholder {
  color: #000000;

  opacity: 1;
}

.search-form:focus:-moz-placeholder {
  color: #000000;

  opacity: 1;
}

.search-button {
  border: 2px solid #000000;
  background-color: transparent;
  outline: none;
}

.search-button:focus,
.search-button:hover {
  color: #ffffff;

  background-color: #000000;
  outline: none;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #000000;
}

/* Хедер*/

.main-header {
  background-color: #f7e296;
}

.main-navigation a {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #000000;

  outline: 0;
}

.add-navigation a,
.user-block a { 
  font-weight: 300;
  letter-spacing: normal;
  color: #464646;
  text-transform: none;

  outline: 0;
}

.user-block a {
  line-height: 36px;
}

.main-header a:hover,
.main-header a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.main-header a:active {
  color: rgba(0, 0, 0, 0.3);
}

/* Слайдер */

.slider-title {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 56px;
  color: #000000;
}

.slider-table tr:first-child {
  font-size: 36px;
  line-height: 48px;
}

.slider-table tr:last-child {
  font-size: 13px;
  line-height: 20px;
}

/* Ссылки на каталог */

.directory-list img {
  background-color: rgba(240, 197, 46, 0.5)
}

.directory-list img:hover {
  background-color: #f0c52e;
}

.directory-list a {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 18;
  line-height: 24px;
  color: #000000;

  outline: 0;
}

.directory-list a:focus img {
  background-color: #f0c52e;
}


.directory-list a:active {
  color: rgba(0, 0, 0, 0.3);
  
  opacity: 0.3;
}

/* Блок услуг */

.service-buttons button {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 5px;
  text-transform: uppercase;

  background-color: transparent;
  border: none;
  outline: 0;
}

.service-buttons button:hover,
.service-buttons button:focus {
  background-color: #f0c52e
}

.service-buttons button:active {
  color: #f7e184;

  background-color: #000000;
}

.service-popup h3 {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  color: #000000;
}

/* Логотипы партнеров */

.partners a {
  opacity: 0.2;
}

.partners a:hover,
.partners a:focus {
  opacity: 1;
}

/* О нас и Контакты */

.about-us h2,
.info-block h2 {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  color: #000000;
}

.about-us li {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  color: #000000;
}

/*Доступность карты?

.info-block a {
  outline: 0;
}
*/

/* Футер */

.footer {
  color: #ffffff;

  background-color: #565656;
}

.footer a {
  color: inherit;

  outline: 0;
}

/* Футер верхний блок*/

.footer-top .logo {
  fill: #ffc600;
}

.footer-top img:hover,
.footer-top img:focus {
  opacity: 0.6;
}

.footer-top img:active {
  opacity: 0.3;
}

.footer-user-block a {
  color: rgba(255, 255, 255, 0.7);
}

.footer-user-block a:hover,
.footer-user-block a:focus {
  color:inherit;
}

.footer-user-block a:active {
  color: rgba(255, 255, 255, 0.3);
}

/* Футер средний блок*/

.footer-navigation a {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 18;
  line-height: 24px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-navigation a:hover,
.footer-navigation a:focus {
  opacity: 0.6;
}

.footer-navigation a:active {
  opacity: 0.3;
}

/* Футер нижний блок*/

.footer-social a {
  opacity: 0.3;
}

.footer-social a:hover,
.footer-social a:focus {
  opacity: 0.6;
}

.footer-social a:active {
  opacity: 0.1;
}

.footer-bottom > a:hover,
.footer-bottom > a:focus {
  opacity: 0.6;
}

.footer-bottom > a:active {
  opacity: 0.3;
}

/* PopUp Напишите нам */

.write-us-form {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  line-height: 24px;
  color: #000000;
}

.write-us-form input,
.write-us-form textarea {
  font-size: 14px;
  line-height: 18px;

  background-color: #f2f2f2;
  border: none;
  outline: 0;
}

.write-us-form input::-webkit-input-placeholder,
.write-us-form textarea::-webkit-input-placeholder {
  opacity: 0.4;
}

.write-us-form input:-ms-input-placeholder,
.write-us-form textarea:-ms-input-placeholder {
  opacity: 0.4;
}

.write-us-form input::-moz-placeholder,
.write-us-form textarea::-moz-placeholder {
  opacity: 0.4;
}

.write-us-form input:-moz-placeholder,
.write-us-form textarea:-moz-placeholder {
  opacity: 0.4;
}

.write-us-form input:hover,
.write-us-form textarea:hover {
  background-color: #eaeaea;
}

.write-us-form input:focus,
.write-us-form textarea:focus {
  background-color: transparent;
  border: 2px solid #f7e296;
}

.write-us-form input:invalid {
  background-color: rgba(237, 181, 181, 0.5)
}

.write-us-form button {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 18;
  line-height: 24px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #000000;

  background-color: transparent;
  border: none;
  outline: 0;
}

.form-submission a:hover,
.form-submission a:focus {
  background-color: #f0c52e;
}

.form-submission a:active {
  color: rgba(0, 0, 0, 0.3);
}

/* Страница каталога*/

.main-title {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  color: #000000;
}

.breadcrumbs a,
.breadcrumbs {
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);

  outline: 0;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

/* Блок сортировки*/

.sort h2 {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 16;
  line-height: 24px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #000000;
}

.sort-list a {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);

  outline: 0;
}

.sort-list a:hover,
.sort-list a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sort-list a:active {
  color: #000000;
}

/* Фильтр */

.filter-form {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
}

.filter-form h2 {
  font-size: 16;
  line-height: 24px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #000000;
}

.fieldset-header {
  font-size: 16;
  line-height: 24px;
  color: #000000;
}

.filter-form input {
  outline: 0;
}

.filter-form input:disabled {
  color: #a6a6a6;
}

/* Каталог товаров*/

.products-list a {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 18;
  line-height: 24px;
  color: #000000;

  outline: 0;
}

.products-list span {
  font-size: 18;
  line-height: 24px;
  color: #464646;
}

.compare {
  font-size: 13;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);

  background-color: transparent;
  border: none;
  outline: 0;
}

.compare:hover,
.compare:focus {
  color: #000000;
}

.compare:active {
  color: rgba(0, 0, 0, 0.2);
}

/* Пагинация*/

.pagination {
  background-color: #ebebeb;
}

.pagination  a {
  font-family: Gilroy, Arial, sans-serif;
  font-weight: 800;
  font-size: 16;
  line-height: 24px;
  letter-spacing: 5px;
  text-transform: uppercase; 

  outline: 0;
}

.pagination .pagination-button {
  color: #000000;
}

.pagination .pagination-button:hover,
.pagination .pagination-button:focus {
  background-color: #d9d9d9;
}

.pagination .pagination-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.page-number {
  color: rgba(0, 0, 0, 0.3);
}

.page-number:hover,
.page-number:focus {
  color: rgba(0, 0, 0, 0.6);
}

.page-number:active {
  color: #000000;
}